#imgHeader{
    width: 100px;
    height: 100px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.portada {
    background-image: url("../img/background.jpg");
    background-size: cover;
    display: block;

   height: 100%;
   width: 100%;
   left: 0;
   position: fixed;
   right: 0;
   z-index: 1;

}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(43, 106, 189);
  text-shadow: none;
}


.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(36, 35, 35);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(56, 111, 173, 0.329);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(50, 103, 202);
  border-bottom-color: rgb(50, 103, 202);
}
